<h1>Roll the Dice</h1>

<p><strong>Step 1 (max. 5 points)</strong></strong></p>

<% dice_1_roll = rand(6) %>
<% dice_2_roll = rand(6) %>

<p>Dice #1: <%= dice_1_roll %></p>
<p>Dice #2: <%= dice_2_roll %></p>

<br>

<p><strong>Step 2 (max. 5 points)</strong></p>


<%= if dice_1_roll == 1 then  image_tag "http://kiei925.com/images/dice/1.png" end %>
<%= if dice_1_roll == 2 then  image_tag "http://kiei925.com/images/dice/2.png" end %>
<%= if dice_1_roll == 3 then  image_tag "http://kiei925.com/images/dice/3.png" end %>
<%= if dice_1_roll == 4 then  image_tag "http://kiei925.com/images/dice/4.png" end %>
<%= if dice_1_roll == 5 then  image_tag "http://kiei925.com/images/dice/5.png" end %>
<%= if dice_1_roll == 6 then  image_tag "http://kiei925.com/images/dice/6.png" end %>

<%= if dice_2_roll == 1 then  image_tag "http://kiei925.com/images/dice/1.png" end %>
<%= if dice_2_roll == 2 then  image_tag "http://kiei925.com/images/dice/2.png" end %>
<%= if dice_2_roll == 3 then  image_tag "http://kiei925.com/images/dice/3.png" end %>
<%= if dice_2_roll == 4 then  image_tag "http://kiei925.com/images/dice/4.png" end %>
<%= if dice_2_roll == 5 then  image_tag "http://kiei925.com/images/dice/5.png" end %>
<%= if dice_2_roll == 6 then  image_tag "http://kiei925.com/images/dice/6.png" end %>



