<H1> Books Database </H1>
<p> <%= link_to "Return to Homepage", "/" %> | <%= link_to "Return To Books List", "/books" %> </p>

<hr>

<% book_id = params["id"] %>
<% book = Book.read(book_id) %>

<strong>Title: </strong><%= book["title"] %>

<p></p>

<strong>Price: </strong>$<%= book["price"] %>

<p></p>

<% review = Review.where("book_id" => book["id"]) %>
<!-- Pulls in all the reviews where the book id matches the book id for the book you are looking for -->

<% review_rating = review.average(:rating) %>
	<% unless review_rating == nil then %>
		<% review_rating = review_rating.round(2) %>
	<% end %>

	<% if review_rating == nil then %>
		<% review_rating = "This book has not yet been reviewed" %>
	<% end %>	

<strong>Average Star Rating: </strong><%= review_rating %>

<p></p>

<strong>Book Reviews:</strong>

<% review.each do |review| %>
	
	<ul>
		<li> <%= review["rating"] %> Stars - "<%= review["caption"] %>" </li>
	</ul>

<% end %>

<p></p>

<strong>Add a New Review:</strong>

<%= form_tag "/books#{book["id"]}", "method" => "post" %>

  <p>
    <%= label_tag "review_bookid", "Book ID (DO NOT DELETE):" %>
    <%= number_field_tag "review_bookid", book["id"] %>
  </p>

  <p>
    <%= label_tag "review_rating", "Star rating (1-5):" %>
    <%= text_field_tag "review_rating" %>
  </p>

  <p>
    <%= label_tag "review_caption", "Book review:" %>
    <%= text_field_tag "review_caption" %>
  </p>

  <%= submit_tag %> or <%= link_to "Cancel", "/books/#{book.id}" %>

</form>
	